*, body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: #fff;
}
.container {
	display: inline-block;
	width: auto;
	margin: 50px auto;
	border: 3px solid orange;
	padding: 15px;
	min-height: 182px;
	min-width: 459px;
	border-radius: 10px;
}
.Card {
	background: #fff;
	margin: 0 5px;
}
.Card-rank, .Card-suit {
	background: none;
}

button {
	border: 2px solid orange;
	border-radius: 4px;
	padding: 10px 35px;
	outline: 0;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: uppercase;
	background: orange;
	font-size: 18px;
	color: #fff;
	transition: all 0.3s;
}
button:hover {
	background: #fff;
	color: orange;
}
h2 {
	margin: 20px 0 0;
}